<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /roboframe
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index2.php?url=$1 [QSA,L]
</IfModule> 